@using IoTService.Models;

@{
    ViewBag.Title = "Rover Remote Control";
}

<h2>@ViewBag.Title</h2>

<div class="row margin-top">
    <div class="col-xs-4"><button class="btn btn-lg" data-movement="@((int)RoverMovementType.ForwardLeft)"><i class="fa fa-arrow-up fa-rotate-45-neg" aria-hidden="true"></i></button></div>
    <div class="col-xs-4"><button class="btn btn-lg" data-movement="@((int)RoverMovementType.Forward)"><i class="fa fa-arrow-up" aria-hidden="true"></i></button></div>
    <div class="col-xs-4"><button class="btn btn-lg" data-movement="@((int)RoverMovementType.ForwardRight)"><i class="fa fa-arrow-up fa-rotate-45" aria-hidden="true"></i></button></div>
</div>
<div class="row margin-top-xs">
    <div class="col-xs-4"><button class="btn btn-lg" data-movement="@((int)RoverMovementType.RotateLeft)"><i class="fa fa-arrow-left" aria-hidden="true"></i></button></div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4"><button class="btn btn-lg" data-movement="@((int)RoverMovementType.RotateRight)"><i class="fa fa-arrow-right" aria-hidden="true"></i></button></div>
</div>
<div class="row margin-top-xs">
    <div class="col-xs-4"><button class="btn btn-lg" data-movement="@((int)RoverMovementType.BackwardLeft)"><i class="fa fa-arrow-down fa-rotate-45" aria-hidden="true"></i></button></div>
    <div class="col-xs-4"><button class="btn btn-lg" data-movement="@((int)RoverMovementType.Backward)"><i class="fa fa-arrow-down" aria-hidden="true"></i></button></div>
    <div class="col-xs-4"><button class="btn btn-lg" data-movement="@((int)RoverMovementType.BackwardRight)"><i class="fa fa-arrow-down fa-rotate-45-neg" aria-hidden="true"></i></button></div>
</div>
<div class="row margin-top-lg"></div>
<div class="row">
    <div class="col-xs-4"><button class="btn btn-lg" data-movement="@((int)RoverMovementType.Autopilot)"><span class="glyphicon glyphicon-plane"></span></button></div>
    <div class="col-xs-4 pull-right"><button class="btn btn-lg" data-movement="@((int)RoverMovementType.Stop)"><i class="fa fa-stop" aria-hidden="true"></i></button></div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("button").click(function (e) {
                var movement =
                    {
                        movement: $(this).data('movement')
                    };

                $.ajax({
                    type: "POST",
                    url: '@Url.HttpRouteUrl("MoveRover", null)',
                    data: JSON.stringify(movement),
                    contentType: "application/json; charset=utf-8"
                });
            });
        });
    </script>
}




